html {
    
}

body {
    margin: auto;
    background: whitesmoke;
    font-family: monospace;
}

.wrap {
    position: relative;
    margin: auto;
    width: 900px;
}

.ribbon {
    width: 900px;
    height: 60px;
    margin: 10px auto 0px;
    position: relative;
    background: #3D79D0;
}

.nav {
  display: block;
  transition: top 0.3s;
    position: relative;
    margin-left: 0px;
    margin-top: -50px;
    text-align: center;
    
}

.nav a {
    
    padding: 10px;
    width: 80px;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;

}

.nav a:hover {
    background: orange;
    border-radius: 20px;
}

.ribbon i {
    position: absolute;
}

.ribbon i:first-child,
.ribbon i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #043140;

}

.ribbon i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #043140;
}

.ribbon i:nth-child(3),
.ribbon i:last-child {
    width: 20px;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #1D53C0;
    border-left-color: transparent;

}

.ribbon i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #1D53C0;
    border-right-color: transparent;
}

#konte1 .konte1-bg img {
    position: relative;

    margin: auto;
    top: 30px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.8;
    filter: alpha(opacity=10);
}

#konte1 .konte1-isi img {
    vertical-align: middle;
    border-radius: 50%;
    width: 100%;
    height: 135px;
    object-fit: cover;

    border-radius: 50%;
    overflow: hidden;
    border: 5px solid black;
    cursor: pointer;
    max-width: 8%;
    padding: 10px;
}

#konte1 .konte1-isi img {

    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#konte1 .konte1-isi {
    color: white;

    position: absolute;
    bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    font-family: "Rubik", sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.7;

}

#konte2 {
    position: static;
    text-align: left;
    top: 20px;
    margin-top:30px ;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;




}

#konte2 .konte2-isi {
    position: relative;
    font-family: monospace;
    font-size: 20px;
    text-transform: capitalize;

}




#konte3 {

    position: relative;
    text-align: center;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

#konte3 .konte3-d1 {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    background-color: 483D8B;
    color: black;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 3px #171515;
    font-size: 15px;
    text-decoration: none;

}

#konte4 {

    position: relative;
    text-align: left;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.7;
}

#konte4 .skill-isi .konte4-list ol {
    position: relative;
    text-align: left;
    right: 20px;
    font-weight: 20px;
    font-size: 20px;
    text-transform: capitalize;



}

#konte5 {
    position: relative;
    text-align: justify;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    text-transform: capitalize;


}

#konte6 {
    position: relative;
    text-align: justify;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    text-transform: capitalize;

}

#konte6 .clock h2{
    position: absolute;
    text-align: center;
    display: grid ;
}



#konte7 {
    position: relative;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 400px;
    background-color: whitesmoke;

}

#konte7 img {
    position: relative;
    margin: 0;
    right: 50px;
    bottom: 10px;
    top: auto;
    width: 90%;
    height: 500px;
    opacity: 0.8;
    filter: alpha(opacity=10);
}


#konte7 .konte7-d1 {

    position: relative;
    margin: 0;
   bottom: 380px;
   padding-left: 140px;
   text-align: left;
   
    font-family: Arial, Helvetica, sans-serif;

}

#kon1 .clock{
    display: grid;
    position: absolute;
    margin-bottom: 200px;

}